$transparent:   rgba(0,0,0,0) !default;

$black:         rgba(33,33,33,1) !default; // Body text
$black-overlay: rgba(0,0,0,0.6) !default;
$white:         rgba(255,255,255,1) !default;

$navbar-bg:     rgba(248,248,248,1) !default;
$navbar-link:   rgba(153,153,153,1) !default;
$navbar-border: rgba(231,231,231,1) !default;

$dark-blue:     rgba(15, 44, 77, 1) !default;
$cerulean:      rgba(0, 136, 193, 1) !default; // Header text
$light-blue:    rgb(84, 207, 255) !default;
$light-green:   rgb(199, 238, 255) !default; // Footer background
