---
---

@import "bootstrap";
@import "variables";

@import "navbar";

body {
  padding-top: $navbar-height + 14px;
}

h1 {
  font-size: 22pt;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
h2 {
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
  margin-bottom: 20px;
}
h3 {
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 1px;
}

html {
  font-family: helvetica, arial, sans-serif;
}

.image-hover-container {
  min-height: 200px;
  max-height: 24rem;
}

.image-hover-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.image-hover-img {
  width: 100%;
  height: 100%;
  // max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  // max-width: 100%;
}

.image-hover-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black-overlay;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.image-hover-caption {
  position: absolute;
  bottom: 0%;
  padding: 20px 0px 4px 0px;
  width: 100%;
  text-align: center;
  visibility: visible;
  opacity: 1;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
  -webkit-text-stroke: 0.04rem black;
  transition: .1s, opacity .2s, visibility .2s;
}

.image-hover-wrapper:hover .image-hover-desc {
  visibility: visible;
  opacity: 1;
}

.image-hover-wrapper:hover .image-hover-caption {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1em);
  transition: .1s, opacity .07s, visibility .07s;
}

.image-hover-text {
  color: $white;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}

.image-hover-wrapper:hover .image-hover-text {
  transform: translateY(0);
}
