---
---

@import "bootstrap";
@import "variables";

@import "navbar";

body {
  padding-top: $navbar-height + 14px;
}

h1 {
  font-size: 22pt;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
h2 {
  font-size: 18pt;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
  margin-bottom: 20px;
}
h3 {
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 1px;
}

html {
  font-family: helvetica, arial, sans-serif;
}

.image-hover-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.image-hover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-hover-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $black-overlay;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.image-hover-wrapper:hover .image-hover-desc {
  visibility: visible;
  opacity: 1;
}

.image-hover-text {
  color: $white;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}

.image-hover-wrapper:hover .image-hover-text {
  transform: translateY(0);
}
